{{#if sidebarprod.totcommprod}}
<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i>Productos Estrella</h5>
    </div>
    <div class="card-body">
<!--        <p><i class="fas fa-images"></i> imagenes : {{sidebarprod.stats.images}}</p> -->
        <p><i class="fas fa-comments"></i> Comentarios : {{sidebarprod.totcommprod}}</p>
        <p><i class="fas fa-eye"></i> Vistas : {{sidebarprod.views}}</p>
        <p><i class="fas fa-heart"></i> Likes : {{sidebarprod.likes}}</p>                
    </div>
</div>
{{/if}}