<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Nuestro Hermoso Santiago Centro</h1>
            <h3 class="mb-5">
                <em>Centro de Chile</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Visitar
            </a>
        </div>
    </header>
</main>